<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prova ng-repeat</title>
    <script type="text/javascript" src=https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js>
    </script>
    <style media="screen">
    table {
      border-collapse: collapse;
    }
      table, tr,td, th{
        border:1px solid black ;
      }
      td{
        padding: 2px;
      }
    </style>
  </head>
  <body>

    <div  ng-app="mercolediApp">
      <div ng-controller="tabella as tab">
        <ul>
          <li ng-repeat="campo in tab.elenco" >
            $index {{$index}} : {{campo}}
          </li>
        </ul>
        <hr />
        <ul>
          <li ng-repeat="numero in tab.elencodup track by $index" >
            $index {{$index}} : {{numero}}
          </li>
        </ul>
        <hr/>
        <table>

          <tr>
          <th>indice</th><th>nome</th><th>indirizzo</th><th>telefono</th>
          </tr>
          <tr ng-repeat="persona in tab.rubrica">
            <td ng-bind="$index"></td><td ng-bind="persona.nome"></td> <td>{{persona.indirizzo}}</td><td>{{persona.tel}}</td>
          </tr>
        </table>

        <hr>
        <table >

          <tr>
          <th>indice</th><th>nome</th><th>indirizzo</th><th>telefono</th>
          </tr>
          <tr ng-repeat="persona in tab.rubrica">
            <td>{{$index}}</td><td ng-repeat="(key,value) in persona">{{key}} - {{value}}</td>
          </tr>
        </table>


      </div>
    </div>
    <script type="text/javascript" src="control.js">
    </script>
  </body>
</html>
